@if(message$ | async; as messages) {
<ul>
  @for (message of messages; track $index) {
  <li>
    {{ message.body }}
  </li>
  }
</ul>
}

<form [formGroup]="chattingForm" (ngSubmit)="onSubmit($event)">
  <input
    [formControl]="body"
    class="border rounded mr-1 px-2 focus:outline-none"
  />

  <button
    type="submit"
    class="border rounded px-1 text-gray-600 disabled:text-gray-100"
    [disabled]="chattingForm.invalid"
  >
    전송
  </button>
</form>

@if (body.invalid && (body.touched || body.dirty)) { @if
(body.errors?.['required']) {
<p class="text-red-500">입력해</p>
} @else if (body.errors?.['minlength']) {
<p class="text-red-500">
  {{body.errors?.['minlength'].requiredLength}} 이상을 입력해
</p>
} }

<p>
  touched : {{ body.touched }} <br />
  dirty : {{ body.dirty }} <br />
  invalid: {{ body.invalid }} <br />
  valid: {{ body.valid }} <br />
</p>

<!-- form, architecture (guard, pipe), router -->
<!-- 개념을 배울 수 있다 -->
